header.header
	nav.navbar.navbar-default.navbar-static-top
		.container
			.navbar-header
				ul.nav
					li.nav-item
						a.nav-link.active(href="#") Active
					li.nav-item
					a.nav-link(href="#") Link
					</li>
					li.nav-item
					a.nav-link(href="#") Link
					</li>